.header-row {
    height: 150px;
    background-image: linear-gradient(to right, #1D5895, #23955F);
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 30px;
}

.fa-star {
    color: #AAAAAA;
}

.favorited {
    color: #23995C;
}

.favorite-table {
    background-color: #F7FEFA;

    th {
        color: #23995C;
        font-size: 25px;
    }
}

.table {
    thead th {
        border-bottom: none;
    }

    td {
        margin-left: .75rem;
        border-top: none;
    }
}